:root {
	--app-background: #111b21;
	--app-background-stripe: #00a884;
	--login-window-background: #ffffff;
	--login-text-color: #41525d;
	--header-background: #202c33;
	--menuPanel-border: #8696a039;
	--chatItem-borderTop: #8696a026;
	--headerMenuPanel-icon: #d1d7db;

	--messageItem-outgoing-background: #005c4b;
	--messageItem-incoming-background: #202c33;
	--messagesFooter-background: #202c33;
	--messagesFooter-borderLeft: rgba(134,150,160,0.15);

	--dropdown-background-hover: #182229;
	--dropdown-background: #233138;

	--button-background: #42CBA5;
	--button-text: #ffffff;
	--button-active-background-primary: #ffffff1a;
	--button-active-background-green: #00a884;
	--button-active-color-green: #f7f8fa;

	--input-primary-background: #2a3942;
	--input-primary-border: #2a3942;
	--input-secondary-background: #202c33;
	--input-secondary-border: #202c33;
	--input-text: #d1d7db;
	--input-placeholder: #8696a0;

	--link: #00a884;
	--icon-primary: #d1d7db;
	--icon-secondary: #8696a0;
	--text-primary: #d1d7db;
	--text-white: #ffffff;

	--scroll-thumb: #ffffff16;
	--scroll-track: #111b21;

	--attn: #dc3546;
}